/* Chaining Method without using descendents */
li#chain.speed.up{
    color: red;
}
li#chain.speed.down{
    color: blue;
}
/* Chaining Method with using descendents */
ul li#chain.speed.up{
    color: green;
}
ul li#chain.speed.down{
    color: blueviolet;
}
div.blank-circle{
    background-color: green;
    position: relative;
    top: 200px;
    left: 500px;
    height: 200px;
    width: 200px;
    border-radius: 50%;
}
div.red-square{
    background-color: red;
    position: absolute;
    top:50%;
    left:50%;
    height: 50px;
    width: 50px;
    transform: translate(-50%,-50%);
}
.circle {
    width: 200px;
    height: 200px;
    background-color: blue;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
  }

  .bar {
    width: 20px;
    height: 100%;
    background-color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  .bar:nth-child(2) {
    transform: translateX(-50%) rotate(72deg);
  }

  .bar:nth-child(3) {
    transform: translateX(-50%) rotate(144deg);
  }

  .bar:nth-child(4) {
    transform: translateX(-50%) rotate(216deg);
  }

  .bar:nth-child(5) {
    transform: translateX(-50%) rotate(288deg);
  }