h2.span1{
    display: inline block;
    height: 30px;
    width: 80px;
    background-color: green;
    font: bolder;
}
h2.span2{
    display: inline block;
    height: 30px;
    width: 80px;
    background-color: red;
    font: bolder;
}
span{
    background-color: yellow;
    display: inline-block;
    font font-family: Arial, "Helvetica Neue", Helvetica, sans-serif: bold;
}